{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/table.css'%}">
    <title>User Table</title>
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Admin Table</h1>
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search...">
        </div>
        <table class="table table-bordered table-striped " id="userTable">

        {% comment %} <table class="table table-bordered table-striped"> {% endcomment %}
          <thead>
              <tr>
                 <th>Admin ID</th>
                  <th>Admin name</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              {% for user in users %}
                  <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                      {% comment %} <td>{{ user.email }}</td> {% endcomment %}
                      <td>
                          {% comment %} <button class="btn btn-success edit-button">✏️</button> {% endcomment %}
                          <a href="{% url 'delete_user' user.id %}" class="btn btn-danger delete-button">
                            <i class="bi bi-trash-fill"></i> 🗑️
                          </a>                     
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

   
</body>
</html>
















   {% comment %} <table>
        <thead>
          <tr>
            <th>Username <span class="icon-arrow">&UpArrow;</span></th>
            <th>Image <span class="icon-arrow">&UpArrow;</span></th>
            <th>Date du abonnement <span class="icon-arrow">&UpArrow;</span></th>
            <th>Phone <span class="icon-arrow">&UpArrow;</span></th>
            <th>Amount <span class="icon-arrow">&UpArrow;</span></th>
            <th>Date du abonnement <span class="icon-arrow">&UpArrow;</span></th>
            <th>Nombre du mois <span class="icon-arrow">&UpArrow;</span></th>
            <th>Action <span class="icon-arrow">&UpArrow;</span></th>
          </tr>
        </thead>
        <tbody>
          {% for subscM in Male_list %}
            <tr>
              <td colspan="10">{{ subscM.name }}</td>
              <td><img src="{{ subscM.image.url }}"></td>
              <td colspan="10">{{ subscM.phone_number }}</td>
              <td colspan="10">{{ subscM.subscription_date }}</td>
              <td colspan="10">{{ subscM.salary }}</td>
              <td colspan="10">{{ subscM.how_many_month }}</td>
              <td colspan="10">{{ subscM.expired_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </main> {% endcomment %} 