body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db;
    font-family: Arial, sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-box {
    max-width: 300px;
    margin: 0 auto;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #3498db;
}

input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: white;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
